.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:linear-gradient(to right, #39cbe2, #3cdeb5);
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #F1F1F1;
    -fx-text-fill: #1d1d1d;
}